@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nanum+Gothic:wght@400;700;800&family=Sunflower:wght@300;500&display=swap');

* {
    z-index: 0;
    font-family: 'Nanum Gothic', sans-serif;
}


hr{
    border: solid;
    size: 7px;
}

.mm-style{
    margin-top: 10px;
    margin-left: 5rem;
    margin-right:5rem;
    list-style:none;
    padding-left:0px;
 
}


.mini-menu{
    display: flex;
    justify-content: center;
    font-size: 15px;
}